# pycache
**/__pycache__/

# eureka drive
eureka_drive/

# womd_rl
womd_rl/

# legacy code
legacy_model/
legacy_data/

# markdown files
program_search_flow_walkthrough.md
program_search_modules_design.md

# tests
tests/

# benchmarks
benchmarks/

#dot folders
.*/

# checkpoints
*/checkpoints/

# slurm
logs/
*.err
*.out

# wandb
wandb/

# logs
*.jsonl

# videos
videos/
*.mp4
*.npz
*.json

# dotenv
.env

# old
old/


waymo-open-dataset/
